@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.loader {
  margin: auto;

  svg {
    width: 100px;
    height: 100px;
    color: $color-lochmara;
    animation: rotation 1s linear infinite;
    stroke-width: 3;
    stroke-linecap: round;

    @include vp-767 {
      width: 60px;
      height: 60px;
    }
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
