.page {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__main-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__title {

    &--not-found {
      margin: auto;
    }
  }
}
