// Цвета
$color-default-black:    #000000;
$color-tangaroa:         #132639;
$color-venice-blue:      #29527a;
$color-lochmara:         #336699;
$color-air-force-blue:   #5c85ad;
$color-polo-blue:        #7d9dbd;
$color-light-slate-grey: #738699;
$color-grey-chateau:     #97a1aa;
$color-alice-blue:       #eef3f6;
$color-default-white:    #ffffff;

// Шрифты

$ff-roboto: "Roboto", "Arial", sans-serif;
$fz-default: 16px;

// Анимация

$tf-default: ease;
$transition-default: 0.3s $tf-default;

// Вьюпорты
$vp-320: 320px;
$vp-375: 375px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1920: 1920px;
