@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.year-block {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: $color-alice-blue;
  border-radius: 25px;

  @include vp-767 {
    padding: 16px;
  }

  @include vp-374 {
    padding: 12px;
  }

  &__top-wrapper {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__year {
    min-width: 160px;
    margin-right: 25px;
    padding: 5px 10px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 36px;
    line-height: 1;
    font-weight: 700;
    color: $color-default-white;
    background-color: $color-lochmara;
    border-radius: 12px;
    transition: background-color $transition-default;

    @include vp-767 {
      width: 130px;
      min-width: 120px;
      margin-right: 12px;
      padding: 3px 6px;
      font-size: 28px;
    }

    @include vp-374 {
      width: 120px;
      margin-right: 8px;
    }
  }

  &__year-link {
    margin-right: 6px;
    padding: 8px;
    display: flex;
    align-items: center;
    color: $color-default-white;
    border-radius: 8px;
    transition: background-color $transition-default;

    @include vp-374 {
      margin-right: 0;
      padding: 8px 4px;
    }

    @include has-hover {
      background-color: $color-venice-blue;
    }

    svg {
      width: 8px;
      height: 14px;
      margin-left: 10px;
      opacity: 0.5;

      @include vp-767 {
        margin-left: 6px;
      }
    }
  }

  &__btn-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    padding: 4px 8px;
    display: inline-flex;
    background-color: transparent;
    color: $color-default-white;
    border: none;
    border-radius: 8px;
    transition: background-color $transition-default;

    @include vp-767 {
      padding: 2px 4px;
    }

    @include has-hover {
      background-color: $color-venice-blue;
    }

    &:first-of-type {
      transform: rotate(180deg);
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__info {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__description {
    margin-right: 10px;
    font-size: 12px;

    @include vp-767 {
      margin-right: 6px;
    }

    @include vp-374 {
      margin-right: 3px;
      font-size: 8px;
    }
  }

  &__value {
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    color: $color-default-black;

    @include vp-767 {
      font-size: 20px;
    }

    &--plan {
      color: $color-grey-chateau;
    }
  }

  &__month-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 8px;
    list-style: none;
  }

  &__month {
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-default-white;
    border-radius: 12px;
  }

  &__month-name {
    padding: 3px 12px;
    margin-bottom: 3px;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-default-white;
    background-color: $color-polo-blue;
    border-radius: 7px;
    transition: background-color $transition-default;

    @include has-hover {
      background-color: $color-air-force-blue;
    }

    svg {
      width: 8px;
      height: 14px;
    }
  }

  &__month-description {
    font-size: 10px;
    color: $color-light-slate-grey;

    &--work {
      margin-top: 3px;
    }

    &--desktop {
      @include vp-374 {
        display: none;
      }
    }

    &--mob {
      display: none;

      @include vp-374 {
        display: block;
      }
    }
  }

  &__month-value {
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    color: $color-default-black;

    @include vp-767 {
      font-size: 20px;
    }

    @include vp-374 {
      font-size: 18px;
    }

    &--plan {
      color: $color-grey-chateau;
    }
  }
}
