@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.statistic {
  position: relative;

  &__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px;
    list-style: none;
  }

  &__gradient-block {
    position: absolute;
    display: none;
    z-index: 2;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(90deg, rgba($color-default-white, 0), rgba($color-default-white, 1) 98%);

    @include vp-1439 {
      display: block;
    }

    @include vp-767 {
      display: none;
      width: 60px;
    }

    @include vp-374 {
    }
  }

  .swiper {
    padding-left: 30px;
    padding-right: 30px;
    z-index: initial;

    @include vp-1439 {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .swiper-slide {
    width: 400px;

    @include vp-767 {
      width: 345px;
    }

    @include vp-374 {
      width: 100%;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    z-index: 3;
    color: $color-lochmara;
    transition: color $transition-default;

    @include vp-1439 {
      width: 70px;
      height: 70px;
      background-color: rgba($color-default-white, 0.9);
      border-radius: 50%;
    }

    @include vp-767 {
      width: 35px;
      height: 35px;
      opacity: 0.6;

      &::after {
        font-size: 30px;
      }
    }

    &:not(:disabled) {
      @include has-hover {
        color: $color-tangaroa;
      }
    }
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev.swiper-button-disabled {
    @include vp-768 {
      opacity: 1;

      &::after {
        opacity: 0.4;
      }
    }
  }

  .swiper-button-next.swiper-button-disabled {
    @include vp-768 {
      opacity: 1;

      &::after {
        opacity: 0.4;
      }
    }
  }
}
