@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.statistic {
  position: relative;

  &--flex {
    display: flex;
    flex-direction: column;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px;
    list-style: none;
  }

  &__gradient-block {
    position: absolute;
    display: none;
    z-index: 2;
    top: 0;
    right: 0;
    width: 80px;
    height: 100%;
    background-image: linear-gradient(90deg, rgba($color-default-white, 0), rgba($color-default-white, 1) 98%);

    @media (max-width: 1834px) {
      display: block;
    }

    @include vp-767 {
      width: 40px;
    }

    @media (max-width: 385px) {
      display: none;
    }

    &--hidden {
      display: none;
    }
  }
}
