.grid-view {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 400px));
  gap: 30px;
  list-style: none;

  @media (max-width: 1800px) {
    grid-template-columns: repeat(3, minmax(0, 400px));
  }

  @media (max-width: 1380px) {
    grid-template-columns: repeat(2, minmax(0, 400px));
  }

  @media (max-width: 890px) {
    grid-template-columns: minmax(0, 400px);
  }
}
